@model IEnumerable<SamarApp.Models.TbWork>

           <div  class="col-lg-12 stretch-card"   >
             <div class="card">
               <div class="card-body">
                  <h4 class="card-title">Data Table</h4>
                      <p class="card-description">
                      <a  asp-controller = "Work"  asp-action = "Edit" class = "btn btn-success" >Create Personal Page</a>
                      </p>  
                       <div class="row">
                       <div class="table-responsive">
                    <table class="table table-bordered" > 
                      <thead>
                        <tr>
                          <th>@Html.DisplayNameFor(D => D.JobName)</th>
                          <th>@Html.DisplayNameFor(D => D.CompanyName)</th>
                          <th>@Html.DisplayNameFor(D => D.Description)</th>
                          <th>@Html.DisplayNameFor(D => D.StartDate)</th>
                          <th>@Html.DisplayNameFor(D => D.EndDate)</th>
                      
                        </tr>
                      </thead>
                      <tbody>
                          @if(Model == null){ 
                        <span>no items found</span>
                           } 
                            else{  
                    @foreach(var col in Model)
                    {
                        <tr class="table-info">
                          <td>@Html.DisplayFor(S => @col.JobName)</td>
                          <td>@Html.DisplayFor(S => @col.CompanyName)</td>
                          <td>@Html.DisplayFor(S => @col.Description)</td>
                          <td>@Html.DisplayFor(S => @col.StartDate)</td>
                          <td>@Html.DisplayFor(S => @col.EndDate)</td>
                          <td>
                              <a asp-controller = "Work" asp-action = "Edit" asp-route-Id = "@col.Id" class = "btn btn-info">Update</a>
                              <a  asp-controller = "Work" asp-action = "Delete" asp-route-Id = "@col.Id" class = "btn btn-danger">Delete</a>
                          </td>
                        </tr>
                         
                    }
                    }            
                      </tbody>
                    </table>
                     </div>
                     </div>
                     </div>
                 </div>
                 </div>
                    